%br
.row
  .col-md-12{class: "#{@agent.name.downcase}"}
    %br
    %h2
      =@agent.name
    %br
%br
%br
.row
  .col-md-12
    .col-md-10.col-md-offset-1
      -@promotions.each do |promotion|
        .promo-box
          %div{class: "#{promotion.agent.name.downcase}"}
            .promo-header
              %h2
                =promotion.title
            .promo-info
              %p.lead
                =promotion.info