%br
.row
  .col-md-12
    %br
    %h3 All Promotions
    %br
%br
%br
.row
  .col-md-12
    .col-md-10.col-md-offset-1
      -9.times do
        .promo-box
          .promo-header
            %h2 Some great promo!
          .promo-info
            %p.lead Some great promo info!
