$sportsbet: #0DA2D7;
$ladbrokes: #D32123;
$ubet: #53DA3F;
$crownbet: #6F2B6C;
$williamhill: #1D5780;
$luxbet: #858585;

.promo-box {
  border:1px dotted gray;
  width:100%;
  float:left;
  margin:10px !important;
}
.promo-header {
  font-weight:bold;
  border-bottom:1px dotted gray;
}
.sportsbet h2 {
  color: $sportsbet;
}
.ladbrokes h2 {
  color: $ladbrokes;
}
.ubet h2 {
  color: $ubet;
}
.crownbet h2 {
  color: $crownbet;
}
.william h2 {
  color: $williamhill;
}
.luxbet h2 {
  color: $luxbet;
}
.unibet h2 {
  color: #247423;
}
a.unibet {
  color: #247423;
}
a.sportsbet {
  color: $sportsbet;
}
a.ladbrokes {
  color: $ladbrokes;
}
a.ubet {
  color: $ubet;
}
a.crownbet {
  color: $crownbet;
}
a.william {
  color: $williamhill;
}
a.luxbet {
  color: $luxbet;
}



