%br
.row
  .col-md-12
    %br
    %h3
      -if @promotions.present?
        ="Search Results For: #{@search}"
      -else
        ="No Results for #{@search} Found."
    %br
%br
%br
.row
  .col-md-12
    .col-md-10.col-md-offset-1
      =render '/shared/promotions'